.contact {
  padding: 15vh 5%;
  h1 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $primary-color;
      position: absolute;
      width: 70px;
    }
  }
  h2 {
    margin-top: 4rem;
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
  }
  ul {
    margin-top: 2rem;
    color: $color-write;
    li {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 1px;
      a {
        text-decoration: none;
        color: $color-write;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  &__form {
    input[type="text"],
    select,
    textarea {
      width: 100%;
      padding: 10px 20px;
      margin: 6px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 1rem;
      box-sizing: border-box;
    }
    &--btn {
      border: none;
      color: $color-white;
      background-color: $secondary-color;
      border-radius: 5px;
      padding: 12px 30px;
      text-transform: uppercase;
      line-height: 22.85px;
      font-size: 1.6rem;
      font-weight: 700;
      outline: none;
      margin-top: 6px;
      box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.479);
      &:focus {
        outline: none;
      }
    }
  }
}
