///////////////// NewBar ////////////////////

.newbar {
  color: $color-white;
  &__result {
    background-image: linear-gradient(to right bottom, #7ed56fbe, #28b485b0),
      url("../img/1.webp");
    background-size: cover;

    padding: 4rem;
    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
      text-transform: uppercase;
      span {
        font-weight: 700;
        text-decoration: underline;
        margin-left: 5px;
      }
    }
    &-content {
      text-align: center;
      text-transform: uppercase;

      h2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
      }

      p {
        font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 3rem;
      }
    }
  }

  &__goals {
    background-image: linear-gradient(to right bottom, #d8d664be, #67b428b0),
      url("../img/1a.webp");
    background-size: cover;
    padding: 3rem;

    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 3rem;
      line-height: 4.5rem;
      text-transform: uppercase;
    }
    ul {
      li {
        border-bottom: 1px dotted $color-white;
        margin-top: 2px;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #dd6c63be, #b4a628b0),
      url("../img/1b.webp");
    background-size: cover;
    padding: 3rem;
    text-align: center;
    h3 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 3px;
      line-height: 2rem;
      text-transform: uppercase;
    }
    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 3.5rem;
    }
    .btn-check {
      &:link,
      &:visited {
        margin-top: 1.5rem;
        padding: 1rem 2rem;
        text-align: center;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4rem;
        background-color: var(--color-black-dark);
        border-radius: 4rem;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

////////////////// About /////////////////

.about {
  padding: 10vh 10%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;
    background-size: cover;
    padding: 5vh 4%;
    color: $color-white;

    h1 {
      span {
        font-weight: 700;
      }
    }
    p {
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
    }
  }

  &__write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    p {
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      color: $color-write;
      span {
        a {
          color: $primary-color;
          display: block;
          margin-top: 5px;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

///////////// NewBar2 ///////////////

.newbar2 {
  background-color: $primary-color-dark;
  color: white;
  text-align: center;
  padding: 60px 8%;
}

///////////// Story and Choose //////////////

.story {
  &__img {
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }

    overflow: hidden;
  }
  &__content {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 10%;
    p {
      margin-top: 2rem;
    }
    a {
      align-self: flex-start;
    }
  }
}

/////////// staffs ///////////////

.staff {
  padding: 15vh 0;

  &__link {
    float: right;
    margin-right: 40px;
    @media only screen and (max-width: 600px) {
      float: left;
      margin-left: 40px;
    }
  }
}

////////////// News //////////////

.news {
  padding: 10vh 15%;
  .btn {
    float: right;

    @media only screen and (max-width: 600px) {
      float: left;
    }
  }
  &__content {
    &-1 {
      cursor: pointer;
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      transition: all 0.3s;
      &:hover {
        & img {
          transform: scale(1.1);
        }
        & .news__content-1--item p {
          opacity: 1;
        }
        & .news__content-1--item {
          transform: translateY(0px);
        }
      }

      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all ease;
      }

      &:hover:after {
        width: 100%;
        height: 100%;
      }

      img {
        transition: all 0.3s;
      }
      &--item {
        padding: 10px;
        color: $color-white;
        position: absolute;
        top: 20%;
        left: 10%;
        transition: all 0.5s;
        @media only screen and (max-width: 1200px) {
          transform: translateY(0px);
          padding: 0;
          top: 20%;
        }
        transform: translateY(200px);
        z-index: 1000;
        a {
          text-decoration: none;
          color: $color-white;
        }
        h1 {
          font-size: 3rem;
          line-height: 37.5px;
          font-weight: 700;
        }
        p {
          margin-top: 4rem;
          font-size: 1.4rem;
          line-height: 27.2px;
          opacity: 0;
        }
      }
    }
  }
}

////////// volunteer ///////////

.volunteer {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-dark;
  color: $color-white;
  &__heading {
    font-size: 50px;
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    span {
      color: $secondary-color;
    }
  }
}

////////////// message //////////////
.message {
  padding: 10vh 8% 10vh 6%;
  text-align: center;
  &__content {
    margin-top: 10vh;
    &--img {
      margin: 0;
      padding: 120px;
      background-image: url(../img/president.webp);
      background-size: cover;
      background-position: top;
    }
    &--letter {
      padding: 40px;
      color: $color-write;
      p {
        span {
          color: $primary-color;
          text-transform: uppercase;
          display: block;
          text-align: center;
          text-decoration: underline;
          font-weight: 600;
        }
        text-align: justify;
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
      }
    }
  }
}

//////////////// Testimonials ///////////////@extend

.testimonials {
  padding: 15vh 5% 5vh 5%;
  text-align: center;
  & .owl-carousel {
    padding: 15vh 0 10vh 0;
    color: $color-write;
    text-align: justify;
    font-size: 1.4rem;
    & .slide {
      @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        p {
          margin-top: 20px;
        }
      }
      display: flex;
      img {
        width: 8rem;
        height: 8rem;
        margin-right: 5rem;
      }
      width: 100%;
      padding-right: 20px;
    }
  }
}

/////////////// subscriber //////////////////

.subscribe {
  &__img {
    background-image: url(../img/group2.webp);
    background-size: cover;
    background-position: center;
    padding: 20rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-white;
    background-color: $primary-color-dark;
    padding: 5rem;
    h1 {
      line-height: 37.2px;
      font-size: 3rem;
      letter-spacing: 1px;
      font-weight: 700;
    }
    p {
      color: $color-white-2;
      margin-top: 2rem;
      width: 90%;
      font-size: 1.4rem;
      line-height: 27.2px;
    }
    form {
      input[type="text"] {
        box-sizing: border-box;
        width: 50%;
        text-transform: capitalize;
        border: none;
        outline: none;
        background-color: $color-white-2;
        padding: 1.2rem 2rem;
        &::-webkit-input-placeholder {
          color: $color-white;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
      button {
        padding: 1.2rem 2.8rem;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $secondary-color;
        color: $color-white;
        border: none;
        outline: none;
        margin-left: -5px;
      }
    }
  }
}
