.member {
  padding: 10vh 5% 5vh 5%;
  h1 {
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    position: relative;
    margin-left: -30px;
    @media only screen and (max-width: 1200px) {
      margin-left: 0;
    }

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $primary-color;
      position: absolute;
      width: 70px;
    }
  }
  p {
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: justify;
    color: $color-write;
  }
}
.staffs {
  padding: 0vh 5% 15vh 5%;

  &__content {
    .div {
      padding: 40px;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
      transition: 0.5s;
      &:hover {
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.35);
        transform: translateY(-1rem) scale(1.03);
      }
    }

    .social-icons {
      margin: 0;
      padding: 0;
      font-size: 30px;
      display: flex;
      align-items: center;
      & li {
        margin-right: 20px;
      }
    }

    .heading-tertiary {
      &--main {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        margin-top: 30px;
        color: $primary-color;
      }

      &--sup {
        display: block;
        margin-top: 10px;
        color: $color-write;
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
    hr {
      width: 10%;
      border: 2px solid $primary-color;
    }
    p {
      font-size: 1.4rem;
      line-height: 28px;
      color: $color-write;
    }
  }
}
